@model UserRegisterModel
@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<div class="container">
    <h2>Login</h2>

    <div class="row gx-5">

        @using (Html.BeginForm("Register", "User", null, FormMethod.Post, true, new { @class = "form-group" }))
        {
            <div class="validation-summary-errors" asp-validation-summary="All"></div>
            <div class="mb-3">
                <label asp-for="Email"></label>
                <input asp-for="Email">
                <span asp-validation-for="Email"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password"></label>
                <input asp-for="Password">
                <span asp-validation-for="Password"></span>

            </div>
            <div class="mb-3">
                <label asp-for="PasswordConfirmation"></label>
                <input asp-for="PasswordConfirmation">
                <span asp-validation-for="PasswordConfirmation"></span>

            </div>
            <div class="mb-3">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber">
                <span asp-validation-for="PhoneNumber"></span>

            </div>
            <div class="mb-3">
                @Html.LabelFor(model => Model.RoleId, "Role")
                <select asp-for="RoleId" asp-items="Model.AvailableRoles">
                    <option selected="selected" disabled="disabled">SELECT</option>
                </select>
                <span asp-validation-for="RoleId"></span>

            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        }

        @*      <div class="mb-3">
            @Html.LabelFor(model => Email, "First Name")
            @Html.TextBoxFor(model => Email, new { @class = "form-control", @type= "email" })
            </div>
        *@
        @*    <div class="mb-3">
            @Html.LabelFor(model => RoleId, "Role")
            @Html.DropDownListFor(model => RoleId, Model?.AvailableRoles, "Select Role")
            </div>
        *@
        @*<form action="~/User/Register" method="post">
            <div class="mb-3">
            @Html.LabelFor(model => FirstName, "First Name")
            @Html.TextBoxFor(model => FirstName, new { @class = "form-control" })
            </div>
            <div class="mb-3">
            @Html.LabelFor(model => BirthDate, "Birth Date")
            @Html.EditorFor(model => BirthDate, new { @class = "form-control" })
            </div>

            <div class="mb-3">
            @Html.LabelFor(model => Email)
            @Html.TextBoxFor(model => Email, new { @class = "form-control", type = "email" })
            </div>

            <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="text" class="form-control" name="email">
            </div>
            <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>*@
    </div>
    

</div>

@section Scripts
{
   @await Html.PartialAsync("_ValidationScriptsPartial")
}
